  h1.downloader-title {
    text-align: center;
  }
  
  .search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    background-color: #1db954;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    z-index: 1; 
  }
  
  .search-box input {
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: #242424;
    height: 50px;
    width: 20pc;
    color: white;
    outline: none;
    padding: 0 45px;
    font-size: 15px;
    font-family: 'GothamBook';
  }
  
  .search-box input:hover {
    background-color: #2a2a2a;
    border: 2px solid rgb(133, 133, 133);
  }
  
  .search-box input:focus {
    border: 2px solid white;
  }
  
  .dl-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

  .dl-left-section,
.dl-right-section {
    width: calc(45% - 5px);
    flex-grow: 1;
    margin: 0 15px;
}

.dl-card {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  height: 5pc;
  border-radius: 20px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.dl-card-img {
  width: 100%;
  height: auto;
  border-radius: 20px 0 0 20px;
  opacity: 0.25;
}

.dl-card-content-img {
  position: absolute;
  width: 65px;
  height: 65px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.dl-card-content-text {
  position: absolute;
  text-align: left;
  margin-left: 6pc;
}

.dl-card-content-text h2 {
  font-size: 20px;
  margin-left: 10px;
  margin: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 28pc;
}


.dl-card-content-text h3 {
  font-family: 'GothamBook';
  margin: 0;
  font-size: 12px;
}


.dl-card-img, .dl-card-content-img {
  pointer-events: none;
}

.dl-btn {
  width: 60px;
  height: 25px;
  background-color: #1db954;
  cursor: pointer;
  text-decoration: none;
  color: white; 
}

.progress {
  background-color: #1db954;
  height: 2pc;
  transition: all 0.4s ease-in-out;
}
