@font-face {
    font-family: 'GothamBold';
    src: url(./GothamBold.ttf);
}

@font-face {
  font-family: 'GothamBook';
  src: url(./GothamBook.ttf);
}

@font-face {
  font-family: 'GothamMedium';
  src: url(./GothamMedium.ttf);
}

html {
    overflow-y: scroll;
  }
  

body {
    background: #121212;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'GothamBold';
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: none; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #424242; 
  }

.navbar {
    background: linear-gradient(to bottom, #1c1c1c, transparent);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homenav {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin: 0 8px; 
  }
  
  .name {
    color: white;
    margin: 0;
  }
  
.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 15px; 
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.nav-right a:hover {
    color: #31a3a3
}

.login-btn {
    background: #1db954;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 45px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.2s ease-in-out;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 0 10px; 
    padding: 8px 12px;
    border-radius: 30px;
    background-color: #1db954;
    font-size: 16px;
    font-weight: bold;
    font-family: 'GothamBook';
    height: 30px;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.login-btn:hover, .user-info:hover {
  background-color: #169c42;
}

.user-icon {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 10px; 
}

@media only screen and (max-width: 768px) {
    .navbar {
      height: auto;
      padding: 10px; 
    }
  
    .homenav {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px; 
    }
  
    .name {
      margin: 0;
      font-size: 18px; 
    }
  
    .nav-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .nav-right a {
      margin: 0 15px; 
      font-size: 16px; 
    }
  
    .login-btn {
      width: 80%;
      font-size: 16px; 
    }
  
    .user-info {
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      margin: 10px; 
      padding: 8px 10px;
      border-radius: 20px;
      font-size: 14px; 
    }
  
    .user-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }