.htitle {
  color: #1db954;
}

.title-container {
  margin: 7pc 5pc;
}

.title {
  font-size: 7pc;
  margin: 0;
  margin-top: 15px;
}

.subtitle {
  font-size: 23px;
  max-width: 32pc;
  font-family: "GothamBook";
}

.gs-btn {
  background: #1db954;
  border: none;
  border-radius: 25px;
  width: 10pc;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10px;  
  font-family: 'GothamBook';
  font-weight: bold;
}