.track-container {
    text-align: center;
}
 
.track-container h2 {
    font-size: 30px;
}

.stats-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.left-section,
.right-section {
    width: calc(45% - 5px);
    flex-grow: 1;
    margin: 0 15px;
}

.stats-card {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    height: 5.5pc;
    border-radius: 20px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.stats-card-img {
    width: 100%;
    height: auto;
    border-radius: 20px 0 0 20px;
    opacity: 0.25;
}

.stats-card-content-img {
    position: absolute;
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

.stats-card-content-text {
    position: absolute;
    text-align: left;
    margin-left: 7pc;
}

.stats-card-content-text h2 {
    font-size: 25px;
    margin-left: 10px;
    margin: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 31pc;
}


.stats-card-content-text h3 {
    font-family: 'GothamBook';
    margin: 0;
    font-size: 14px;
}

.stats-card-content-num {
    position: absolute;
    right: 20px;
    font-size: 6pc;
    font-family: 'GothamBook';
    color: #acaeb0;
}

.time-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-button {
    font-family: 'GothamBook';
    font-weight: bold;
    background-color: #5E5E5E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #7d7d7d;
}

.time-button.selected {
    background-color: #1db954;
    color: black;
}

.stats-card-img, .stats-card-content-img {
    pointer-events: none;
}


@media (max-width: 768px) {
    .stats-card {
        width: 90%; 
    }
    .stats-card-container {
        justify-content: center;
    }

    .stats-card-content-text {
        margin-left: 6.5pc; 
    }

    .stats-card-content-text h2 {
        font-size: 22px;
    }

    .stats-card-content-num {
        font-size: 5pc;
    }

    .time-button {
        font-size: 14px; 
    }
}
