
.top-title {
    margin: 5px;
    text-align: center;
}

.time-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.stats-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: calc(45% - 5px);
    flex-grow: 1;
    margin: 0 15px;
}

.stats-card {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    height: 3.5pc;
    border-radius: 10px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.stats-card-img {
    width: 100%;
    height: auto;
    border-radius: 20px 0 0 20px;
    opacity: 0.25;
}

.stats-card-content-img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.stats-card-content-text {
    position: absolute;
    text-align: left;
    margin-left: 4.3pc;
}

.stats-card-title {
    font-size:  17px;
    margin-left: 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 22pc;
}


.stats-card-artist {
    font-family: 'CircularBook';
    margin: 0;
    font-size: 12px;
    color: #9b9b9b;
}

.time-button {
    font-family: 'CircularBook';
    background-color: #5E5E5E;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #7d7d7d;
}

.time-button.selected {
    background-color: #1db954;
    color: black;
}

.stats-card-img, .stats-card-content-img {
    pointer-events: none;
}